doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title Title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic")
    link(rel="stylesheet", href="styles.css")
  body.hyphenate
    nav#toolbar.animated.fadeIn
      a.dynamic.logo(href="#home")
        img.dynamic(src="images/logo.svg", alt="")
        span Studienplaner
      ul
        li
          a(href="#features") Features
        li
          a(href="#feedback") Feedback
        li
          a(href="#team") Team
      a.dynamic.quick-link(href="http://mein.studienplaner.at") Zum Studienplaner »
    section#home.page
      img.wow.logoIn(src="images/logo-3d.png", alt="")
      h1.wow.fadeIn(data-wow-delay="0.5s")
        | Studienplaner #{''}
        b Beta
      p.wow.fadeIn(data-wow-delay="1.0s")
        | Verwalte deine Kurse, tracke deine Noten, plane dein Semester.
        br
        | Studienplaner ist #{''}
        strong kostenlos
        | . #{''}
        a(href="http://mein.studienplaner.at/") Weiter zum Studienplaner »
      a.nav.next.wow.fadeIn(data-wow-delay="2.0s", href="#features")
        span.icon
    section#features.page
      h2.wow.fadeIn Features
      div
        img.wow.slideInLeft(
          data-wow-delay="0.5s"
          src="images/screenshot.png"
          alt="")
        ul
          li.wow.slideInRight(data-wow-delay="1.0s") Eintragen von Kursen und Noten
          li.wow.slideInRight(data-wow-delay="1.2s") Filtern von Kursen nach Typ, Titel oder Note
          li.wow.slideInRight(data-wow-delay="1.3s") Tagging-System um komplexe Abhängigkeiten abzubilden
          li.wow.slideInRight(data-wow-delay="1.4s") Berechnung von ECTS-Summe und Notendurchschnitt
          li.wow.slideInRight(data-wow-delay="1.5s") Semester Ansicht mit ECTS-Balkendiagramm
          li.wow.slideInRight(data-wow-delay="1.6s") Import von fertigen Studienplänen
          li.wow.slideInRight(data-wow-delay="1.7s") Laden und Speichern deiner Daten lokal im Web-Browser
          li.wow.slideInRight(data-wow-delay="1.8s") Datenimport und -export im JSON Format
          li.wow.slideInRight(data-wow-delay="1.9s") Auch offline verfügbar
      a.nav.next(href="#feedback")
        span.icon
    section#feedback.page
    script(src="scripts.js")
