doctype html
html.no-js(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title Studienplaner
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic")
    link(rel="stylesheet", href="css/styles.css")
  body.hyphenate
    nav#toolbar
      a.logo(href="#home")
        img(src="images/logo.svg", alt="")
        span Studienplaner
      a.quick-link(href="http://mein.studienplaner.at") Jetzt benutzen »
    section#home
      div.wrapper
        img(src="images/logo-3d.png", alt="")
        h1
          | Studienplaner #{''}
          b Beta
        p
          | Verwalte deine Kurse, tracke deine Noten, plane dein Semester. #{''}
          br
          | Studienplaner ist #{''}
          strong kostenlos
          | . #{''}
          a(href="http://mein.studienplaner.at/") Weiter zum Studienplaner »
    section#preview
      div.wrapper
        a.zoomable(href="images/screenshot.png", target="_blank")
          img(src="images/screenshot.png", alt="")
    section#features
      div.wrapper
        h2
          a(href="#features")
          | Features
        ul
          li Eintragen von Kursen und Noten
          li Filtern von Kursen nach Typ, Titel oder Note
          li Tagging-System um komplexe Abhängigkeiten abzubilden
          li Berechnung von ECTS-Summe und Notendurchschnitt
          li Semester Ansicht mit ECTS-Balkendiagramm
          li Import von fertigen Studienplänen
          li Laden und Speichern deiner Daten lokal im Web-Browser
          li Datenimport und -export im JSON Format
          li Auch offline verfügbar
    section#feedback
      div.wrapper
        h2
          a(href="#feedback")
          | Feedback
        p Fragen, Wünsche und Kritik bitte an...
        input#feedback-email(disabled, value="Bitte aktiviere JavaScript!")
    section#team
      div.wrapper
        a.zoomable(href="images/lukas-eibensteiner.jpg", target="_blank")
          img(src="images/lukas-eibensteiner.jpg", alt="Lukas Eibensteiner")
        h2
          a(href="#team")
          | Hallo, mein Name ist
          br
          b Lukas Eibensteiner
        p
          | Seit 2012 studiere ich Medieninformatik an der Technischen Universität Wien
          | und arbeite nebenbei als Web-Entwickler bei #{''}
          a(href="http://bisskonzept.at", target="_blank") bisskonzept media
          | . Software-Entwicklung ist schon seit Jahren eine meiner großen Leidenschaften.
          | Ich bin immer auf der Suche nach interessanten Projekten, um
          | meine Fähigkeiten auf die Probe zu stellen.
        p
          | Als Student liegen mir Probleme im Studenten-Alltag besonders
          | nahe. Speziell am Anfang und am Ende meines Bachelorstudiums merkte
          | ich, wie schwierig es ist, den Überblick über
          | Voraussetzungen, Abhängigkeiten und abgeschlossene Kurse zu behalten.
          | Aus diesem Grund begann ich im August 2015 die Arbeit an dieser Website.
          | Inzwischen bin ich selbst ein zufriedener Nutzer und hoffe auch
          | anderen Studenten damit helfen zu können.
        footer
          b Vielen Dank für dein Interesse!
    footer#footer
      div.wrapper
        a(href="impressum.html") Impressum &amp; Datenschutzerklärung
    script(src="js/scripts.js")
